.grid-container{
display: grid;
grid-template-areas: 'header'
'imagen'
'subtitulo'
'producto'
'footer'
}

.grid-container div{
background-color: rgb(141, 141, 91);
color: black;
border: 1px solid black;
}

.area1{
grid-area: header;
}

.area2{
grid-area: imagen;
}

.area3{
grid-area: subtitulo;
}

.area4{
grid-area: producto;
}

.area5{
grid-area: footer
}

.contenedor1{
display: flex;
background-color: none;
justify-content:space-around;
 }
  
.contenedor1 div{
background-color: none;
text-align: center;
border: 1px solid black;
height: 300px;
width: 300px;
}

.contenedor2 {
display: flex;
background-color: none;
justify-content:space-around;
}
  
.contenedor2 div{
background-color: none;
text-align: center;
border: 1px solid black;
height: 300px;
width: 300px;
}

header{
 font-family: 'Dosis', sans-serif;
    background-color: rgb(141, 141, 91);
}   

header h1{
text-align: left;
margin-left: 10px;        
padding-bottom: none;
}        

header nav a{
background-color: rgb(141, 141, 91);
text-decoration: none;
color: black;
}

ul{
float: right;
display: inline;
margin-right: 10px;
margin-bottom: 10px;
background-color: rgb(141, 141, 91);
}    

li {
                    
display: inline-block;
margin-right: 10px;
font-weight: bolder;
display: inline-block; 
position:relative;
}                    


h2{
font-family: 'Dosis', sans-serif;
margin-left: 10px;
margin-right: 10px;
}
                        
h3{
font-family: 'Dosis', sans-serif;
margin-left: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
}
                        
footer{
text-align: center;
}

.texto-1{
font-family: 'Dosis', sans-serif;
margin-left: 10px;
margin-right: 10px;
background-image: linear-gradient(to top, grey, white);
}
                            
.texto-2 a { 
font-family: 'Dosis', sans-serif;
background-color: black;
 margin-left: 10px;
 margin-right: 10px;
color: rgb(255, 255, 255)
}
                            
img{
width: 100%; 
height: 100%; 
}
                            
.redes-1{
display: inline;
height: 200px;
width: 200px;
}
                            
.logo{
display: block;
margin-left: auto;
margin-right: auto;
height: 100px;
width: 100px;
}
                            
iframe{
display: block;
margin-left: auto;
margin-right: auto;
}
                            
table{
font-family: 'Dosis', sans-serif;
margin-left: 10px;
margin-right: 10px;
background-image: linear-gradient(to top, grey, white);
}
                            
fieldset{
font-family: 'Dosis', sans-serif;
margin-left: 10px;
margin-right: 10px;
}



@media only screen and (min-width:0px) and (max-width:767px){
.grid-container{
display: grid;
grid-template-areas: 'header'
'imagen'
'subtitulo'
'producto'
'footer';
background-color: white;
}

.logo{
display: none;    
}
.abc{
display: none;
}

iframe{
display: none;
}

.contenedor1{
display: flex;
background-color: none;
justify-content:space-around;
}
      
.contenedor1 div{
background-color: none;
text-align: center;
border: 1px solid black;
height: 100px;
width: 100px;
}
    
.contenedor2 {
display: flex;
background-color: none;
justify-content:space-around;
}
      
.contenedor2 div{
background-color: none;
text-align: center;
border: 1px solid black;
height: 100px;
width: 100px;
}

.redes-1{
display: inline;
height: 50px;
width: 50px;
}

.texto-1{
font-family: 'Dosis', sans-serif;
margin-left: 10px;
margin-right: 10px;
background-image: linear-gradient(to top, white, white);
}

table{
font-family: 'Dosis', sans-serif;
margin-left: 10px;
margin-right: 10px;
background-image: linear-gradient(to top, white, white);
}
}

